@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --slightly-saturated-orange: #d5966c;
    --dark-gray: #444444;
    --very-dark-gray: #151515;
    --white: #FFFFFF;

    --heading-xl: 96px;
    --heading-l: 70px;
    --heading-m: 60px;
    --heading-s: 36px;
    --body-medium: 22px;
}

body {
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
}

/* Wrapper For All Image/Button, Content & Footer */

.site-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 1fr;
}

/* Header Section */
.header-container {
    width: 100%;
    position: relative;
    height: 80vh;
}

.header-container .map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta-buttons {
    width: 360px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-left: 100px;
    position: absolute;
}

.btn-primary {
    background-color: var(--very-dark-gray);
    color: var(--white);
    font-family: 'Big shoulders', sans-serif;
    font-size: 20px;
    letter-spacing: 3.64px;
    text-transform: uppercase;
    border: none;
    padding: 13px 20px;
    transition:
        background-color 0.4s ease,
        color 0.4s ease,
        letter-spacing 0.4s ease;
}

.btn-primary:hover {
    background-color: var(--slightly-saturated-orange);
    color: var(--white);
    letter-spacing: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--white);
}

.arrow-location {
    background-color: var(--slightly-saturated-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        background-color 0.4s ease;
}

.arrow-location:hover {
    background-color: var(--very-dark-gray);
    cursor: pointer;
}


/* Middle Content Section */
.location-details {
    background-color: var(--very-dark-gray);
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 104px 165px;
    gap: 100px;

}

.section-title {
    font-size: clamp(50px, 5vw, 70px);
    font-family: 'Big shoulders', sans-serif;
    text-transform: uppercase;
    width: 100%;
}

.location-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.location-address {
    color: var(--slightly-saturated-orange);
    font-size: var(--heading-s);
    font-family: 'Big shoulders', sans-serif;
    text-transform: uppercase;
}

.city-state-country,
.description {
    font-size: 22px;
    margin-top: 10px;
    line-height: 27px;
}

.description {
    color: hsl(40, 3%, 65%);
    line-height: 28px;
}

.business-hours {
    color: var(--slightly-saturated-orange);
}

.site-footer {
    background-color: var(--slightly-saturated-orange);
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}


/* Footer Section */
.dark-logo img {
    width: 100%;
}

.footer-info {
    color: var(--very-dark-gray);
    font-size: 18px;
    line-height: 32px;
}

.social-icons {
    margin-left: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.social-icons img {
    padding: 10px;
}

.icons {
    border-radius: 1%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 
      background-color 0.6s ease,
      border-radius 0.8s ease,
      width 0.4s ease;
}

.icons:hover {
    background-color: hsl(48, 9%, 90%);
    border-radius: 10%;
    width: 50%;
}

@media only screen and (max-width: 950px) {

    .location-details {
        padding: 100px 80px;
        gap: 0;
    }
    .section-title {
        padding-right: 15px;
    }

    .site-footer {
        padding: 0;
    }

    .dark-logo img {
        width: ;
    }

    .footer-info {
        font-size: 16px;
    }

    .cta-buttons {
        padding-left: 0;
    }

}


@media only screen and (max-width: 750px) {

    .site-wrapper {
        grid-template-rows: auto 1fr auto;
    }

    .location-details {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        padding: 80px 40px;
        gap: 0;
    }

    .description {
        width: 80%;
    }

    .site-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: auto;
        padding: 48px 32px;
        gap: 30px;
    }

    .footer-info {
        width: 70%;
    }

    .social-icons {
        margin: 0;
        width: 20%;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 370px) {

    .location-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    .section-title {
        text-align: center;
    }

    .location-info {
        align-items: center;
    }

    .city-state-country, .description {
        text-align: center;
    }

    .description {
        line-height: 33px;
    }

    .site-footer {
        align-items: center;
        gap: 35px;
    }

    .footer-info {
        text-align: center;
    }

    .social-icons {
        margin: 0;
        width: 0;
        justify-content: center;
    }
}

